{% extends "main/base.html" %}
{% load static %}
{% block content %}
  <br><br>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn collapsed text2" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            What does it mean to have mental illness?
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p class="text2">Mental illnesses are health conditions that disrupt a person’s thoughts, emotions, relationships, and daily functioning. They are associated with distress
            and diminished capacity to engage in the ordinary activities of daily life.It is important to know that mental illnesses are medical conditions that have nothing
            to do with a person’s character, intelligence, or willpower. Just as diabetes is a disorder of the pancreas, mental illness is a medical condition due to the
            brain’s biology.</p>
      </div>
      </div>
    </div><br>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn collapsed text2" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What causes mental illness ?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <p class="text2">Research points to a mix of genetic, biological, psychosocial, and environmental factors as being the root of most conditions.</p>
        </div>
      </div>
    </div><br>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn collapsed text2" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            What are some of the warning signs of mental illness?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p class="text2">Symptoms of mental disorders vary depending on the type and severity of the condition. Some general symptoms that may suggest a mental illness include:
            <br>
            In adults:<br>
            <ul>
              <li>Confused thinking </li>
              <li>Long-lasting sadness or irritability </li>
              <li>Extremely high and low moods</li>
              <li>Excessive fear, worry, or anxiety</li>
              <li>Social withdrawal</li>
              <li>Dramatic changes in eating or sleeping habits</li>
              <li>Strong feelings of anger</li>
              <li>Delusions or hallucinations (seeing or hearing things that are not really there)</li>
              <li>Increasing inability to cope with daily problems and activities</li>
              <li>Thoughts of suicide</li>
              <li>Denial of obvious problems</li>
              <li>Many unexplained physical problems</li>
              <li>Abuse of drugs and/or alcohol</li>
            </ul>
            In older children and pre-teens:<br>
            <ul>
              <li>Changes in school performance, falling grades</li>
              <li>Inability to cope with daily problems and activities</li>
              <li>Changes in sleeping and/or eating habits</li>
              <li>Excessive complaints of physical problems</li>
              <li>Defying authority, skipping school, stealing, or damaging property</li>
              <li>Intense fear of gaining weight</li>
              <li>Long-lasting negative mood, often along with poor appetite and thoughts of death</li>
              <li>Frequent outbursts of anger</li>
              <li>Abuse of drugs and/or alcohol</li>
              <li>Withdrawing from friends and activities</li>
            </ul>
            In younger children:<br>
            <ul>
              <li>Changes in school performance</li>
              <li>Poor grades despite strong efforts</li>
              <li>Excessive worry or anxiety</li>
              <li>Hyperactivity</li>
              <li>Persistent nightmares</li>
              <li>Persistent disobedience and/or aggressive behavior</li>
              <li>Frequent temper tantrums</li>
            </ul>
          </p>
        </div>
      </div>
    </div><br>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn collapsed text2" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Can people with mental illness recover ?
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          <p class="text2">Most people with a mental illness recover well with appropriate ongoing treatment and support. People with mental illness severe enough to cause disability are able to live
            independently in the community, if given the opportunity and support to do so.</p>
        </div>
      </div>
    </div><br>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn collapsed text2" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            What should I do if I know someone who appears to have the symptoms of a mental disorder ?
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
          <p class="text2">You should get them help as soon as possible. Interaction with friends and family can be the first step. Sites like fika which provide psychological counselling and help is a
          great resource for people struggling with mental illness.</p>
      </div>
      </div>
    </div><br>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn collapsed text2" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            What are some common types of mental illnesses ?
          </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          <p class="text2"><b>Clinical depression</b>: A mental health disorder characterised by persistently depressed mood or loss of interest in activities, causing significant impairment in daily life.<br>
            <b>Anxiety Disorder</b>: A mental health disorder characterised by feelings of worry, anxiety or fear that are strong enough to interfere with one's daily activities.<br>
            <b>Bipolar Disorder</b>: A disorder associated with episodes of mood swings ranging from depressive lows to manic highs.<br>
            <b>Dementia</b>: A group of thinking and social symptoms that interferes with daily functioning.<br>
            <b>Attention-deficit/hyperactivity disorder</b>: A chronic condition including attention difficulty, hyperactivity and impulsiveness.<br>
            <b>Schizophrenia</b>: A disorder that affects a person's ability to think, feel and behave clearly.<br>
            <b>Obsessive compulsive disorder (OCD)</b>: Excessive thoughts (obsessions) that lead to repetitive behaviours (compulsions).<br>
            <b>Autism</b>: A serious developmental disorder that impairs the ability to communicate and interact.<br>
            <b>Post-traumatic stress disorder (PTSD)</b>: A disorder characterised by failure to recover after experiencing or witnessing a terrifying event.
          </p>
        </div>
      </div>
    </div><br>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn collapsed text2" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            How can I contact a therapist?
          </button>
        </h2>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body">
          <p class="text2">Fika provides a number of counsellors who are readily available for the patients in need of help.</p>
        </div>
      </div>
    </div><br>
  </div>
{% endblock %}