{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <br><br>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <p class="homeheading mt-5"><b>WE'RE<br>HERE TO<br>HELP!</b></p>
      </div>
      <div class="col-lg-6 col-md-6 d-flex justify-content-around">
        <img src="{% static 'main/brainmed.png' %}" class="img-fluid floating" style="height:400px;">
      </div>
    </div><br><br>
    <ul style="padding-left: 0; list-style-type: none;">{% for key,article in articles.items %}
        <li><a href="{% url 'article' key %}"><div class="card mb-3 card-body">
            <h3 class="heading">{{ article.title }}</h3><h5 align="right" class="text">{{ article.subHeading }}</h5>
        </div></a></li>
    {% endfor %}</ul>
{% endblock %}