{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <br><h1 class="heading">How does it work</h1><br>
    <div class="container">
	    <p class="text"><b>Free online counselling:</b> A revolutionary service to help clients get free help from experts for their persisting issues.  Write to the counsellors about what’s bothering you and they will respond back to you with a solution. Complete confidentiality and peace of mind for you.</p>
	    <p class="text"><b>Community Chat:</b>  A community for people who have struggled or are struggling with their internal demons. An effort from our side to allow people to help each other and pull them up. We want you to know that you are not alone. We are stronger when we are together. </p>
	    <p class="text"><b>Web chat: </b> In today’s fast paced world, messaging has become the most effective means of communication. Chat with experts and discuss your problems with them at ease. No limited time nor any limitations. Happy Chatting!!</p>
	    <p class="text"><b>Phone call: </b>A person listening to you is sometimes all you need in a situation. We got you covered. Talk to counsellors and let go off all the inhibitions. Discuss your problems and feel the warmth as if you are talking to your friend.</p>
	    <p class="text"><b>Video Conferencing:</b> Want a more personalized and human experience? Start a video conference with your counsellor and get professional help at the comfort of your home.</p>
	    <p class="text"><b>TAT:</b> The Thematic Apperception Test (TAT) is widely used to research certain topics in psychology, such as dreams and fantasies, mate selection, the factors that motivate people's choice of occupations, and similar subjects.</p>
	</div>
{% endblock %}
