{% extends "main/base.html" %}
{% load static %}
{% block content %}
<br><br><br>
<center>
<h1 class="heading">Thematic Apperception Test</h1><br>
<div class="container">
  <p class="text">The Thematic Apperception Test is a type of projective test that involves describing ambiguous scenes. It was developed by psychologist Henry A. Murray and artist and lay psychoanalyst Christina D. Morgan during the 1930s. 1﻿ The test is one of the most widely researched and utilized psychological tests in use today. The Thematic Apperception Test (TAT) is widely used to research certain topics in psychology, such as dreams and fantasies, mate selection, the factors that motivate people's choice of occupations, and similar subjects.</p><br><br>
  <a href="http://www.utpsyc.org/TATintro/"><button type="button" class="btn btn-danger" style="isolation:isolate;">Give your TAT test now!</button></a><br><br><br><br>
</div></center>
{% endblock %}